@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #f3f3f3;
  --text-color: #1e1e1c;
  --highlight-color: #52796f;
}

body.dark-mode {
  --background-color: #1e1e1c !important;
  --text-color: #f3f3f3;
  --highlight-color: #d43545;
}

.grid-bg {
  background-image: url("/grid.svg");
  background-position: center;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

main h1 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  opacity: 0;
}

.char {
  transform: translateY(500px);
  transition: transform 0.5s;
}

a {
  color: var(--text-color);
  transition: color 0.2s;
  cursor: pointer;
}

a:hover {
  color: var(--highlight-color);
}

a.menu-toggle {
  color: var(--highlight-color);
}

a.menu-toggle:hover {
  color: var(--text-color);
}

a.menu-toggle rect {
  fill: currentColor;
}

nav {
  background-color: var(--background-color);
  transform: translate(100%, 0);
  transition: transform 0.5s;
}

nav.fake-mid {
  background-color: var(--highlight-color);
  transition-delay: 0.1s;
}

nav.fake-back {
  background-color: var(--text-color);
  transition-delay: 0.2s;
}

div.blur-backdrop {
  background-color: va(--background-color);
  backdrop-filter: blur(0.1px);
  opacity: 0;
  transition: opacity 0.25s;
}

div.blur-backdrop.nav-toggle {
  opacity: 1; 
}
body.nav-toggle nav {
  transform: translate(0, 0);
  transition-delay: 0.2s;
}

body.nav-toggle nav.fake-mid {
  transition-delay: 0.1s;
}

body.nav-toggle nav.fake-back {
  transition-delay: 0s;
}

.darkmode-btn circle {
  fill: currentColor;
}

.darkmode-btn rect {
  stroke: currentColor;
}

.darkmode-btn g.toggle-circle circle {
  transition: transform 0.3s;
}

.darkmode-btn:hover g.toggle-circle circle {
  transform: scale(1.5);
}

.wiper-screen {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 0vh;
  background-color: var(--highlight-color);
  transition: background-color 0.001s 2s;
}

.profile-pic {
  background-color: var(--highlight-color);
}

svg.trail {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;

}

svg.trail path {
  fill: none;
  stroke: var(--highlight-color);
  stroke-width: 8px;
  stroke-linecap: round;
  stroke-linejoin: round;
}